.container {
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 120px;
    background-color: rgb(0, 0, 56);
}

.container > div {
    padding: 20px;
    font-size: 30px;
    border-radius: 35px;
}

.home,
.search {
    background-color: black;
    color: gray;
}

.profile,
.about {
    background-color: darkblue;
    color: gray;
}



